In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("D:\Python All\Enterprise-Level Customer Analytics & Segmentation\diversified_ecommerce_dataset.csv")

In [4]:
df.head()

,Product ID,Product Name,Category,Price,Discount,Tax Rate,Stock Level,Supplier ID,Customer Age Group,Customer Location,Customer Gender,Shipping Cost,Shipping Method,Return Rate,Seasonality,Popularity Index
0,P6879,Jacket,Apparel,53.85,5,15,150,S535,35-44,"New York, USA",Male,23.32,Standard,4.49,Yes,56
1,P5132,Camera,Electronics,761.26,10,15,224,S583,25-34,"London, UK",Female,20.88,Overnight,16.11,No,79
2,P2941,Sneakers,Footwear,1756.76,5,8,468,S118,25-34,"Tokyo, Japan",Non-Binary,16.43,Standard,4.93,No,40
3,P8545,Cookbooks,Books,295.24,10,15,25,S104,18-24,"Paris, France",Female,27.49,Standard,1.31,No,93
4,P4594,Camera,Electronics,832.00,10,12,340,S331,55+,"Tokyo, Japan",Male,45.93,Overnight,4.37,No,56

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Product ID          1000000 non-null  object
 1   Product Name        1000000 non-null  object
 2   Category            1000000 non-null  object
 3   Price               1000000 non-null  float64
 4   Discount            1000000 non-null  int64
 5   Tax Rate            1000000 non-null  int64
 6   Stock Level         1000000 non-null  int64
 7   Supplier ID         1000000 non-null  object
 8   Customer Age Group  1000000 non-null  object
 9   Customer Location   1000000 non-null  object
 10  Customer Gender     1000000 non-null  object
 11  Shipping Cost       1000000 non-null  float64
 12  Shipping Method     1000000 non-null  object
 13  Return Rate         1000000 non-null  float64
 14  Seasonality         1000000 non-null  object
 15  Popularity Index    1000000 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 122.1+ MB

In [14]:
df.describe(include='all')

,Product ID,Product Name,Category,Price,Discount,Tax Rate,Stock Level,Supplier ID,Customer Age Group,Customer Location,Customer Gender,Shipping Cost,Shipping Method,Return Rate,Seasonality,Popularity Index,transaction_date
count,1000000,1000000,1000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000,1000000,1000000,1000000,1000000.000000,1000000,1000000.000000,1000000,1000000.000000,1000000
unique,9000,43,5,NaN,NaN,NaN,NaN,900,5,15,3,NaN,3,NaN,2,NaN,NaN
top,P2639,Graphic Novels,Books,NaN,NaN,NaN,NaN,S912,18-24,"Dubai, UAE",Male,NaN,Standard,NaN,No,NaN,NaN
freq,150,25396,200751,NaN,NaN,NaN,NaN,1226,200345,67253,333791,NaN,333451,NaN,500203,NaN,NaN
mean,NaN,NaN,NaN,1005.120742,12.516955,10.002052,250.028536,NaN,NaN,NaN,NaN,24.985224,NaN,10.492896,NaN,49.970211,2023-07-02 07:24:34.790400
min,NaN,NaN,NaN,10.000000,0.000000,5.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,NaN,0.000000,2022-01-01 00:00:00
25%,NaN,NaN,NaN,507.860000,5.000000,8.000000,125.000000,NaN,NaN,NaN,NaN,12.490000,NaN,5.740000,NaN,25.000000,2022-10-02 00:00:00
50%,NaN,NaN,NaN,1005.430000,15.000000,10.000000,250.000000,NaN,NaN,NaN,NaN,24.970000,NaN,10.480000,NaN,50.000000,2023-07-03 00:00:00
75%,NaN,NaN,NaN,1502.310000,20.000000,12.000000,375.000000,NaN,NaN,NaN,NaN,37.470000,NaN,15.250000,NaN,75.000000,2024-04-01 00:00:00
max,NaN,NaN,NaN,2000.000000,25.000000,15.000000,500.000000,NaN,NaN,NaN,NaN,50.000000,NaN,20.000000,NaN,100.000000,2024-12-30 00:00:00
std,NaN,NaN,NaN,574.451223,8.539929,3.406026,144.676275,NaN,NaN,NaN,NaN,14.431730,NaN,5.484849,NaN,29.164875,NaN

In [8]:
df.isnull().sum()

Product ID            0
Product Name          0
Category              0
Price                 0
Discount              0
Tax Rate              0
Stock Level           0
Supplier ID           0
Customer Age Group    0
Customer Location     0
Customer Gender       0
Shipping Cost         0
Shipping Method       0
Return Rate           0
Seasonality           0
Popularity Index      0
dtype: int64

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
start_date = pd.to_datetime("2022-01-01")
end_date = pd.to_datetime("2024-12-31")
df['transaction_date'] = start_date + pd.to_timedelta(
    np.random.randint(
        0, (end_date - start_date).days, size=len(df)
    ),
    unit='D'
)

In [13]:
df.isnull().sum()

Product ID            0
Product Name          0
Category              0
Price                 0
Discount              0
Tax Rate              0
Stock Level           0
Supplier ID           0
Customer Age Group    0
Customer Location     0
Customer Gender       0
Shipping Cost         0
Shipping Method       0
Return Rate           0
Seasonality           0
Popularity Index      0
transaction_date      0
dtype: int64

In [16]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

df['TotalRevenue'] = df['Price'] * (1 - df['Discount']/100)

df['OrderMonth'] = df['transaction_date'].dt.to_period('M')

In [18]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Price', 'Discount',
       'Tax Rate', 'Stock Level', 'Supplier ID', 'Customer Age Group',
       'Customer Location', 'Customer Gender', 'Shipping Cost',
       'Shipping Method', 'Return Rate', 'Seasonality', 'Popularity Index',
       'transaction_date', 'TotalRevenue', 'OrderMonth'],
      dtype='object')

In [20]:

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [21]:
df.columns

Index(['product_id', 'product_name', 'category', 'price', 'discount',
       'tax_rate', 'stock_level', 'supplier_id', 'customer_age_group',
       'customer_location', 'customer_gender', 'shipping_cost',
       'shipping_method', 'return_rate', 'seasonality', 'popularity_index',
       'transaction_date', 'totalrevenue', 'ordermonth'],
      dtype='object')

In [22]:
df=df.rename(columns={'totalrevenue':"total_revenue"})

In [23]:
df=df.rename(columns={'ordermonth':"order_month"})

In [24]:
df.columns

Index(['product_id', 'product_name', 'category', 'price', 'discount',
       'tax_rate', 'stock_level', 'supplier_id', 'customer_age_group',
       'customer_location', 'customer_gender', 'shipping_cost',
       'shipping_method', 'return_rate', 'seasonality', 'popularity_index',
       'transaction_date', 'total_revenue', 'order_month'],
      dtype='object')

In [25]:
df.drop_duplicates(inplace=True)

In [27]:
df['total_revenue'].sum()
df.groupby('category')['total_revenue'].sum().sort_values(ascending=False)
df.groupby('customer_location')['total_revenue'].sum().head(10)

customer_location
Berlin, Germany            5.788117e+07
Cape Town, South Africa    5.882319e+07
Chicago, USA               5.898208e+07
Dubai, UAE                 5.902405e+07
Houston, USA               5.903270e+07
London, UK                 5.873703e+07
Los Angeles, USA           5.848904e+07
Mumbai, India              5.892292e+07
New York, USA              5.793359e+07
Paris, France              5.821152e+07
Name: total_revenue, dtype: float64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   product_id          1000000 non-null  object
 1   product_name        1000000 non-null  object
 2   category            1000000 non-null  object
 3   price               1000000 non-null  float64
 4   discount            1000000 non-null  int64
 5   tax_rate            1000000 non-null  int64
 6   stock_level         1000000 non-null  int64
 7   supplier_id         1000000 non-null  object
 8   customer_age_group  1000000 non-null  object
 9   customer_location   1000000 non-null  object
 10  customer_gender     1000000 non-null  object
 11  shipping_cost       1000000 non-null  float64
 12  shipping_method     1000000 non-null  object
 13  return_rate         1000000 non-null  float64
 14  seasonality         1000000 non-null  object
 15  popularity_index    1000000 non-null  int64
 16  transaction_date    1000000 non-null  datetime64[ns]
 17  total_revenue       1000000 non-null  float64
 18  order_month         1000000 non-null  period[M]
dtypes: datetime64[ns](1), float64(4), int64(4), object(9), period[M](1)
memory usage: 145.0+ MB

In [32]:
df['transaction_date'] = pd.to_datetime(df['transaction_date']).dt.date
df['order_month'] = df['order_month'].astype(str)

In [35]:
df[['customer_location','country']]=(df["customer_location"].str.split(',',n=1,expand=True))

In [36]:
df['customer_location']=df['customer_location'].str.strip()
df['country']=df['country'].str.strip()

In [37]:
df[['customer_location','country']].head()

  customer_location country
0          New York     USA
1            London      UK
2             Tokyo   Japan
3             Paris  France
4             Tokyo   Japan

In [41]:
df.isnull().sum()

product_id                0
product_name              0
category                  0
price                     0
discount                  0
tax_rate                  0
stock_level               0
supplier_id               0
customer_age_group        0
customer_location         0
customer_gender           0
shipping_cost             0
shipping_method           0
return_rate               0
seasonality               0
popularity_index          0
transaction_date          0
total_revenue             0
order_month               0
country               66802
dtype: int64

In [42]:
df.isna().any()

product_id            False
product_name          False
category              False
price                 False
discount              False
tax_rate              False
stock_level           False
supplier_id           False
customer_age_group    False
customer_location     False
customer_gender       False
shipping_cost         False
shipping_method       False
return_rate           False
seasonality           False
popularity_index      False
transaction_date      False
total_revenue         False
order_month           False
country                True
dtype: bool

In [43]:
(df['customer_location']=="Singapore").sum()

np.int64(66802)

In [44]:
df["country"].fillna('Singapore',inplace=True)

C:\Users\Rikki\AppData\Local\Temp\ipykernel_10384\2192607221.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].fillna('Singapore',inplace=True)

In [45]:
df[['customer_location','country']].head(20)

   customer_location       country
0           New York           USA
1             London            UK
2              Tokyo         Japan
3              Paris        France
4              Tokyo         Japan
5          Singapore     Singapore
6             Sydney     Australia
7            Phoenix           USA
8          Cape Town  South Africa
9           New York           USA
10            London            UK
11           Houston           USA
12         Singapore     Singapore
13         Cape Town  South Africa
14           Toronto        Canada
15            London            UK
16           Chicago           USA
17            Berlin       Germany
18         Singapore     Singapore
19           Houston           USA

In [46]:
df.isnull().sum()

product_id            0
product_name          0
category              0
price                 0
discount              0
tax_rate              0
stock_level           0
supplier_id           0
customer_age_group    0
customer_location     0
customer_gender       0
shipping_cost         0
shipping_method       0
return_rate           0
seasonality           0
popularity_index      0
transaction_date      0
total_revenue         0
order_month           0
country               0
dtype: int64

In [47]:
df.to_csv("elcas_cleaned.csv")